[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "site-lisp/color-theme-github"]
	path = site-lisp/color-theme-github
	url = git://github.com/dudleyf/color-theme-github.git
